<main class="signup-container">
  <mat-card class="card">
    <mat-card-title class="card-title">Crea tu cuenta</mat-card-title>
    <mat-card-content class="card-content">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="user.name" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Escribre tu correo"
            [(ngModel)]="user.email"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Cédula</mat-label>
          <input
            matInput
            placeholder="Escribe tu cédula"
            [(ngModel)]="user.numberIdentification"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Escribe tu contraseña"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="user.password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        class="card-button"
        mat-raised-button
        color="primary"
        (click)="signup()"
        (keyup.enter)="signup()"
      >
        Registrate
      </button>
      <span>Ya tienes una cuenta? <a routerLink="../login">Entra</a></span>
    </mat-card-actions>
  </mat-card>
</main>
