<main class="navbar-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button (click)="goToCreditRequest()">Solicitar crédito</a>
      <a mat-button (click)="goToRejectedRequests()">Solicitudes rechazadas</a>
      <a mat-button (click)="goToCreditPending()">Creditos pendientes</a>
      <a mat-button (click)="goToHistory()">Historial</a>
      <span class="example-spacer"></span>
      <button mat-stroked-button (click)="logout()">Cerrar sesión</button>
    </mat-toolbar-row>
  </mat-toolbar>
</main>
